html
  title

  head
    include includes/navbar.pug
    if thisPoll.author == user
      div(class="container-fluid")
        div(class="row")
          div(class="col-md-6")
            div(class="col-md-12 col-md-offset-1")
              form(id="pollForm", method="post")
                div(class="col-md-10 input-group input-group-lg")
                  input(type="text", name="title", class="form-control", value=thisPoll.title disabled)
                  br
                br
                div(class="col-md-6 input-group", id="inputChoices")
                  each choice in thisPoll.choices
                    br
                    input(type="text", name="choice", class="form-control", autocomplete="off", value=choice.choice)
                br
                div(class="btn-group")
                  button(type="button", class="btn btn-default" onClick="newInput()") New choice
                  button(type="submit", value="submit", class="btn btn-success") Submit

              script.
                function newInput() {
                  pollForm = document.getElementById("pollForm");
                  var input = document.createElement("input");
                  input.setAttribute("type", "text");
                  input.setAttribute("name", "choice");
                  input.setAttribute("class", "form-control");
                  input.setAttribute("autocomplete", "off")
                  inputChoices.appendChild(document.createElement("br"));
                  inputChoices.appendChild(input);
                }

    else
      h2 You have no access to this poll.
