html
  head
  body
    include includes/navbar.pug
    br
    div(class="container-fluid")
      div(class="row")
        div(class="col-md-10")
          div(class="col-md-12 col-md-offset-1")
            ul(class="list-group")
              each poll in allPolls
                a(href='/polls/' + poll.uniqueID, class="list-group-item")= poll.title
