html
  head

  body
    include includes/navbar.pug

    if user != null
      h3 You are already logged in as #{user}
    else
      div(class="container")
        if flash
          p= flash
        form(method="post", class="form-signin")
          h2(class="form-signin-heading") Sign in
          form(class="form-signin")
            div
              label(for="inputUsername", class="sr-only") Username
              br
              input(type="text", id="inputUsername", class="form-control", name="username", placeholder="Username", autocomplete="off" required autofocus)
            div
              label(for="inputPassword", class="sr-only") Password
              br
              input(type="password", id="inputPassword", class="form-control", placeholder="Password", name="password", autocomplete="off" required)
            div
              br
              button(type="submit", value="Log in", class="btn btn-lg btn-primary btn-block") Sign in
